<!-- {% load static %}
<link rel = 'stylesheet' type = 'text/css' href = "{% static 'bootstrap.min.css' %}"> -->

<!-- <h1>{{members.name}}</h1>

<div>
    핸드폰 : {{members.phone}}
</p>
    이메일 : {{members.email}}
</p>
    주소 : {{members.address}}
</div>

<h5>{{members.rendbook_set.count}}개의 빌린 책이 있습니다.</h5>
<div>
    <ul>
        {% for rendbook in members.rendbook_set.all %}
        <li>{{rendbook.book_name}}</li>
        {% endfor %}
    </ul>
</div>


<form action = "{% url 'pybo:rendbook_add' members.id %}" method = "post">
    {% csrf_token %}
    <textarea name = 'book_name' id = 'book_name' row = '15'></textarea>
    <textarea name = 'money' id = 'money' row = '15'></textarea>
    <input type = "submit" value = '답변등록'>
</form> -->

{% extends 'base.html' %}

{% block content %} 

<div class = 'container my-3'>
    <h2 class = 'border-bottom py-2'>{{members.name}}</h2>
    <div class = 'card my-3'>
        <div class = 'card-body'>
            <div class = 'card-text' style = 'white-space: pre-line;'>
                {{members.name}}
            </div>
            <div class = 'd-flex justify-name-end'>
                <div class = 'badge badge-light p-2'>
                    {{members.create_date}}
                </div>
            </div>
        </div>
    </div>
    <h5 class = 'border-bottom my-3 py-2'>
        {{members.rendbook_set.count}}개 빌린 책이 있습니다
    </h5>
    {% for rendbook in members.rendbook_set.all %}
    <div class = 'card my3'>
        <div class = 'card-body'>
            <div class 'card-text' style = 'white-space: pre-line;'>
                {{rendbook.book_name}}
                {{rendbook.money}}
            </div>
            <div class = 'd-flex justify-book_name-end'>
                <div class = 'badge badge-light p-2'>
                    {{rendbook.create_date}}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <form action = "{% url 'pybo:rendbook_add' members.id %}" method = "post" class = 'my-3'>
        {% csrf_token %}
        <div class = 'form-group'>
        <textarea name = 'book_name' id = 'book_name' class = 'form-control' row = '10'></textarea>
        <textarea name = 'money' id = 'money' class = 'form-control' row = '10'></textarea>
        </div>
        <input type = "submit" value = '답변등록' class = 'btn btn-primary'>
    </form>
</div>
{% endblock %}